<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Control
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="./userMana">User Management</a>
        
        </div>
      </div> 
    
<div class="form"> 
    <form action="/add" method="POST" >
    
        
        
        <div class="header">
            <h>create Account</h>
        </div>

      

             <div class="form_container">
                 <label>Username</label>
                 <input  name="username" id="username" type="text"  value="1"  required>
             </div>

             <div class="form_container">
                 <label>Password</label>
                 <input    name="password" id="password" type="password" value="1" required>
             </div>
             
             <div class="form_container">
                <label>Re_Password</label>
                <input    name="repassword" id="repassword" type="password" value="1" required>
            </div>
             
             
             <div class="form_container">
                 <label>Name</label>
                 <input  name="name" id="name" type="text" value="1" required >
             </div>
             <div class="form_container">
                 <label>birthday</label>
                 <input   name="bday" id="bday" type="date"  required >
             </div>
 
             <div class="form_container">
                 <label>annual spending budget</label>
                 <input    name="budget" id="budget" type="number" value="1" required >
             </div>
 
            
             <div class="btns" >
             <button   class="buttons" type="submit"> ADD </button>
            
            </div>
            <% if (typeof message != "undefined" ){ %>
                <h class="alert"><%= message %> </h>
         <%  }%>

         <% if (typeof succes != "undefined" ){ %>
            <h class="alertGreen"><%= succes %> </h>
     <%  }%>
             
     </form>
     
</div>
 
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</body>

</html>